ul li{
    float:left;
    margin-top: 10%;
    margin-left: 10%;
    width:100px;height:100px;padding:10px;list-style:none;
}
ul {
    margin-left: 10%;
}
/*permet de créer deux lignes*/
ul li:nth-child(4n){clear:left;} 
         
ul li a{
    display:block;overflow:hidden;
    width:100px;
    text-decoration: none;
    margin-top:0px;margin-left:0px;
    border:0px solid rgba(0,0,0,0.7);
    transition-property:all;
    transition-duration:0.4s;
    transform-origin: top center;
}

ul li a:hover{
    transform: scale(1.1,1.1);
    z-index:100;
    border:2px solid rgba(0,0,0,0.7);
}
         
ul li a img{
    width:100%;height:100%;z-index:20;
}