.generale{
	background-image: url('fondconnexion.jpg');
	background-attachment: fixed;
	background-size: 100%;
}
.centre{
	display: flex;
	position: absolute;
	top: 50%;
	left: 27%
}
.creation{
	display: flex;
	position: absolute;
	top: 30%;
	left: 27%
}
.border{
	border: 5px solid black;
}
.Text{
	background-color: aliceblue;
	max-height: 300px;
}
.flex{
	display: flex;
}